/* CUSTOM ANIMATIONS */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes spiral {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}


/* UNIVERSAL STYLES */
body,html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(230, 100%, 95%);
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%)); 
    overflow: hidden;
}


.spiral {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
}

.character {
    color: white;
    font-size: 4em;
    transform: translateY(calc(sin(var(--angle)) * 100px)) scale(calc(cos(var(--angle)) * 0.5 + 0.5));
    animation: spiral 4s linear infinite;
}